<h1>Listing clicks</h1>

<table>
  <thead>
    <tr>
      <th>Widgetid</th>
      <th>Time</th>
      <th>Click</th>
    </tr>
  </thead>

  <tbody>
    <% @clicks.each do |click| %>
      <tr>
        <td><%= click.widgetID %></td>
        <td><%= click.time %></td>
        <td><%= click.click %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

